# Operating System files macOS
.DS_Store
.AppleDouble
.LSOverride
# Operating System files Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# Log files
*.log

# Dependency directories
node_modules/
bower_components/

# Build directories
dist/
build/

# Environment variables
.env

# IDE and editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
tmp/
temp/
*.tmp
*.swp
